# Project 3

In [19]:
import pokebase as pb
import pandas as pd

In [86]:
fireTypePokemon = pb.APIResource('type', 'fire').pokemon
dfFire = {
    'name': [],
    'weight': [],
    'height': [],
    # 'moves': [],
    }
dfMoves = {
    'pokemon': [],
    'move': [],
}
for pokemon in fireTypePokemon[:10]:
    dfFire['name'].append(pokemon.pokemon.name)
    # display(pb.APIResource('pokemon', pokemon.pokemon.name).weight)
    dfFire['weight'].append(pokemon.pokemon.weight)
    dfFire['height'].append(pokemon.pokemon.height)
    for move in pokemon.pokemon.moves:
        dfMoves['pokemon'].append(pokemon.pokemon.name)
        dfMoves['move'].append(move.move.name)
    # display(pokemon.pokemon.name)
    break
# display(move for move in dfFire['moves'])
# for move in dfFire['moves'][0]:
#     display(move.move.name)
dfFire
display(pd.DataFrame(dfFire))
display(pd.DataFrame(dfMoves))
# pb.pokemon()

         name  weight  height
0  charmander      85       6

        pokemon            move
0    charmander      mega-punch
1    charmander      fire-punch
2    charmander   thunder-punch
3    charmander         scratch
4    charmander    swords-dance
..          ...             ...
100  charmander         confide
101  charmander  power-up-punch
102  charmander  breaking-swipe
103  charmander      tera-blast
104  charmander    temper-flare

[105 rows x 2 columns]

In [116]:
gen1 = pb.generation('generation-1')
dir(gen1)
bulbasaur = gen1.results[0].pokemon_species[0]
bulbasaur.gender_rate
# dfFire = {
#     'name': [],
#     'weight': [],
#     'height': [],
#     # 'moves': [],
#     }
# dfMoves = {
#     'pokemon': [],
#     'move': [],
# }
# for pokemon in fireTypePokemon[:10]:
#     dfFire['name'].append(pokemon.pokemon.species)
#     # display(pb.APIResource('pokemon', pokemon.pokemon.name).weight)
#     dfFire['weight'].append(pokemon.pokemon.weight)
#     dfFire['height'].append(pokemon.pokemon.height)
#     for move in pokemon.pokemon.moves:
#         dfMoves['pokemon'].append(pokemon.pokemon.name)
#         dfMoves['move'].append(move.move.name)
#     # display(pokemon.pokemon.name)
#     break
# # display(move for move in dfFire['moves'])
# # for move in dfFire['moves'][0]:
# #     display(move.move.name)
# dfFire
# display(pd.DataFrame(dfFire))
# display(pd.DataFrame(dfMoves))
# # pb.pokemon()

'spearow'

In [124]:
gen1 = pb.generation(1).pokemon_species
bulbasaur = gen1[0]
bulbasaur.name
fireTypePokemon = pb.APIResource('type', 'fire').pokemon
dfFire = {
    'species': [],
    # 'weight': [],
    # 'height': [],
    # 'moves': [],
    }
# dfMoves = {
#     'pokemon': [],
#     'move': [],
# }
for pokemon in fireTypePokemon:
    dfFire['species'].append(pokemon.pokemon.species.name)
    break
pd.DataFrame(dfFire)

      species
0  charmander